<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.presale.dao.LoanDicDao">

    <!-- type为实体类Student，包名已经配置，可以直接写类名 -->
    <resultMap id="loanDic" type="LoanDic">
        <id property="id" column="id" />
        <result property="goodsTypeId" column="goods_type_id" />
        <result property="dataType" column="dataType" />
        <result property="data" column="data" />
        <result property="isDelete" column="is_delete" />
    </resultMap>
    <sql id="loanDic_Columns">
        goods_type_id,
        dataType,
        data
    </sql>
    <select id="findByType" parameterType="Map" resultType="Map"  >
        select dataType,`data` from loan_dic where (goods_type_id=#{goodsTypeId} or goods_type_id=0) and dataType=#{dataType} and is_delete=0
        order by goods_type_id desc;
    </select>
</mapper>
